.grid {
    display: grid;
    column-gap: 1rem;
    grid-template-columns:  50% 50%;
}

.card {
    border: 1px solid purple;
    border-radius: .5rem;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

.card:hover {
    background-color: #eeeeee;
}

.card img {
    width: 100%;
    border-radius: .4rem .4rem 0 0;
}

.card h3, .card span {
    margin: 0;
    padding: .4rem;
}

.card span {
    display: block;
}

@media (min-width: 578px) {

    .grid {

    }

    .card {

    }

    .card:nth-child(odd) {

    }
    
    .card:nth-child(even) {

    }

}